{{define "Index"}}
{{include "header.html"}}
<body>
    <nav class="navbar navbar-light bg-light mb-4 justify-content-center">
        <a class="navbar-brand" href="/">{{.PageTitle}}</a>
    </nav>
    <div class="container">
        <section class="card">
            <div>
                <table class="table table-striped table-hover mb-0">
                    <thead>
                        <tr>
                            <th>Service</th>
                            <th>Health</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{.Service}}</td>
                            <td>{{.Status}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</body>

</html>
{{include footer.html}}
{{end}}%